.hero{
    background-image:url("../images/pharmacy-front.webp");
    background-size:cover;
    background-position:center;
    height:700px;
}

.overlay{
    background:rgba(0,40,90,.55);

    height:700px;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    text-align:center;

    color:white;
}

.logo{
    width:150px;
    margin-bottom:20px;
}

.hero h1{
    font-size:60px;
    margin-bottom:15px;
}

.hero h2{
    font-size:34px;
    margin-bottom:20px;
}

.hero p{
    font-size:22px;
    margin-bottom:30px;
}

.hero-buttons{
    margin-top:35px;
}

.btn{
    background:#0056D2;
    color:white;
    padding:15px 35px;
    text-decoration:none;
    border-radius:8px;
    margin:10px;
    display:inline-block;
}

.btn2{
    background:#25D366;
}
